<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:spring-context-public.xml"/>
    <import resource="classpath:ldap-auth.xml"/>
    <import resource="jms-queues-mgmt.xml"/>


    <jaxrs:server id="loadBalancingManagement" address="/" staticSubresourceResolution="true">
        <jaxrs:serviceFactories>
            <ref bean="loadBalancingManagementImplFactory"/>
        </jaxrs:serviceFactories>
        <jaxrs:extensionMappings>
            <entry key="xml" value="application/xml"/>
            <entry key="json" value="application/json"/>
            <entry key="atom" value="application/atom+xml"/>
        </jaxrs:extensionMappings>
        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
            <ref bean="jsonProvider"/>
            <ref bean="atomProvider"/>
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="loadBalancingManagementImplFactory" class="org.apache.cxf.jaxrs.spring.SpringResourceFactory">
        <property name="beanId" value="loadBalancingManagementImpl"/>
    </bean>

    <!--DOZER SETTINGS-->
    <bean id="dozerManagementBeanMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>loadbalancing-dozer-management-mapping.xml</value>
            </list>
        </property>
        <property name="eventListeners">
            <list>
                <ref bean="dozerEventListener"/>
            </list>
        </property>
    </bean>

    <bean id="managementAsyncService"
          class="org.openstack.atlas.api.mgmt.integration.ManagementAsyncServiceImpl"
          scope="request">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>

    <!--FILTERS-->
    <bean id="headerEnhancerFilter"
          class="org.openstack.atlas.api.mgmt.filters.HeaderEnhancerFilter" scope="request"/>
    <!--Use for RBAC in mgmt, not complete-->
    <!--<bean id="manageIdentityAuthFilter"-->
          <!--class="org.openstack.atlas.api.mgmt.filters.ManageIdentityAuthFilter"-->
          <!--init-method="startConfig"-->
          <!--scope="request">-->
        <!--<property name="identityAuth" ref="identityAuth"/>-->
        <!--<property name="xmlJsonConfig" ref="xmlJsonConfig"/>-->
    <!--</bean>-->
    <bean id="manageAuthFilter"
          class="org.openstack.atlas.api.mgmt.filters.ManageAuthFilter"
          init-method="startConfig"
          scope="request">
        <property name="xmlJsonConfig" ref="xmlJsonConfig"/>
        <property name="mossoAuth" ref="mossoAuth"/>
        <property name="ldapCache" ref="ldapCache"/>
    </bean>
    <bean id="xmlJsonConfig"
          class="org.openstack.atlas.api.mgmt.filters.helpers.XmlJsonConfig"
          init-method="startConfig"
          scope="singleton">
        <property name="fXsd" value="META-INF/xsd/LoadBalancerApiFaults.xsd"/>
        <property name="fPkg" value="org.openstack.atlas.docs.loadbalancers.api.v1.faults"/>
        <property name="mapper" ref="objectMapper"/>
    </bean>
    <!--<bean id="identityAuth" class="org.openstack.atlas.api.mgmt.helpers.LDAPTools.IdentityAuth">-->
        <!--<property name="identityAuthConfig" ref="identityAuthConfig"/>-->
    <!--</bean>-->

    <!--<bean id="identityAuthConfig" class="org.openstack.atlas.api.mgmt.helpers.LDAPTools.IdentityAuthConfig">-->
        <!--<constructor-arg index="0" ref="mgmtConfiguration"/>-->
    <!--</bean>-->

    <!--RESOURCES-->
    <bean id="managementDependencyProvider"
          class="org.openstack.atlas.api.mgmt.resources.providers.ManagementDependencyProvider"
          scope="request">
        <property name="configuration" ref="configuration"/>
        <property name="mossoAuthConfig" ref="mossoAuthConfig"/>
        <property name="alertService" ref="alertService"/>
        <property name="requestStateContainer" ref="requestStateContainer"/>
        <property name="managementAsyncService" ref="managementAsyncService"/>
        <property name="esbService" ref="loadBalancingAsyncService"/>
        <property name="loadBalancerService" ref="loadBalancerService"/>
        <property name="virtualIpService" ref="virtualIpService"/>
        <property name="groupService" ref="groupService"/>
        <property name="blackListService" ref="blackListService"/>
        <property name="hostService" ref="hostService"/>
        <property name="rateLimitingService" ref="rateLimitingService"/>
        <property name="notificationService" ref="notificationService"/>
        <property name="allowedDomainsService" ref="allowedDomainsService"/>
        <property name="loadBalancerStatusHistoryService" ref="loadBalancerStatusHistoryService"/>
        <property name="callbackService" ref="callbackService"/>
        <property name="reverseProxyLoadBalancerService" ref="reverseProxyLoadBalancerService"/>

        <property name="dozerMapper" ref="dozerManagementBeanMapper"/>

        <property name="clusterRepository" ref="clusterRepository"/>
        <property name="hostRepository" ref="hostRepository"/>
        <property name="loadBalancerRepository" ref="loadBalancerRepository"/>
        <property name="alertRepository" ref="alertRepository"/>
        <property name="vipRepository" ref="virtualIpRepository"/>
        <property name="ticketService" ref="ticketService"/>
        <property name="accountLimitService" ref="accountLimitService"/>
        <property name="suspensionService" ref="suspensionService"/>
        <property name="clusterService" ref="clusterService"/>
        <property name="jobStateService" ref="jobStateService"/>
        <property name="groupRepository" ref="groupRepository"/>
        <property name="eventRepository" ref="eventRepository"/>
        <property name="accountLimitRepository" ref="accountLimitRepository"/>
        <property name="accountUsageRepository" ref="accountUsageRepository"/>
        <property name="usageRepository" ref="usageRepository"/>
        <property name="hostUsageRepository" ref="hostUsageRepository"/>
        <property name="blacklistRepository" ref="blacklistRepository"/>
        <property name="allowedDomainsRepository" ref="allowedDomainsRepository"/>
        <property name="loadBalancerStatusHistoryRepository" ref="loadBalancerStatusHistoryRepository"/>
    </bean>
    <bean id="loadBalancingManagementImpl"
          class="org.openstack.atlas.api.mgmt.resources.RootResource"
          parent="managementDependencyProvider"
          scope="request">
        <property name="origContainer" ref="requestStateContainer"/>
        <property name="publicApiResource" ref="loadBalancingPublicImpl"/>
        <property name="mgmtResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.ManagementResource"
                  parent="managementDependencyProvider"
                  scope="request">
                <property name="sslUtilsResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.SSLUtilsResource"
                          parent="managementDependencyProvider"
                          scope="request"/>
                </property>
                <property name="allowedDomainsResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.AllowedDomainsResource"
                          parent="managementDependencyProvider"
                          scope="request"/>
                </property>
                <property name="auditResource">
                    <bean id="auditResource"
                          class="org.openstack.atlas.api.mgmt.resources.AuditResource"
                          parent="managementDependencyProvider"
                          scope="request"/>
                </property>
                <property name="stubResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.StubResource"
                          parent="managementDependencyProvider"
                          scope="request"/>
                </property>
                <property name="bounceResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.BounceResource"
                          parent="managementDependencyProvider"
                          scope="request"/>
                </property>
                <property name="eventResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.EventResource"
                          parent="managementDependencyProvider"
                          scope="request"/>
                </property>
                <property name="jobsResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.JobsResource"
                          parent="managementDependencyProvider"
                          scope="request">
                        <property name="jobResource">
                            <bean class="org.openstack.atlas.api.mgmt.resources.JobResource"
                                  parent="managementDependencyProvider"
                                  scope="request"/>
                        </property>
                    </bean>
                </property>
                <property name="virtualIpsResource" ref="mgmtVirtualIpsResource"/>
                <property name="accountsResource" ref="accountsResource"/>
                <property name="groupsResource" ref="groupsResource"/>

                <property name="hostsResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.HostsResource"
                          parent="managementDependencyProvider"
                          scope="request">
                        <property name="hostResource">
                            <bean class="org.openstack.atlas.api.mgmt.resources.HostResource"
                                  parent="managementDependencyProvider"
                                  scope="request">
                                <property name="backupsResource">
                                    <bean class="org.openstack.atlas.api.mgmt.resources.BackupsResource"
                                          parent="managementDependencyProvider"
                                          scope="request">
                                        <property name="backupResource">
                                            <bean class="org.openstack.atlas.api.mgmt.resources.BackupResource"
                                                  parent="managementDependencyProvider"
                                                  scope="request"/>
                                        </property>
                                    </bean>
                                </property>
                            </bean>
                        </property>
                    </bean>
                </property>
                <property name="loadBalancersResource" ref="loadBalancersResource"/>
                <property name="clustersResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.ClustersResource"
                          parent="managementDependencyProvider"
                          scope="request">
                        <property name="clusterResource">
                            <bean class="org.openstack.atlas.api.mgmt.resources.ClusterResource"
                                  parent="managementDependencyProvider"
                                  scope="request">
                                <property name="virtualIpsResource" ref="mgmtVirtualIpsResource"/>
                                <property name="errorpageResource" ref="mgmtErrorPageResource"/>


                            </bean>
                        </property>
                    </bean>
                </property>
                <property name="alertsResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.AlertsResource"
                          parent="managementDependencyProvider"
                          scope="request">
                        <property name="alertResource">
                            <bean class="org.openstack.atlas.api.mgmt.resources.AlertResource"
                                  parent="managementDependencyProvider"
                                  scope="request">
                            </bean>
                        </property>
                    </bean>
                </property>
                <property name="callbackResource" ref="callbackResource"/>
                <property name="blackListResource" ref="blackListResource"/>
                <property name="healthCheckResource" ref="healthCheckResource"/>
            </bean>
        </property>
    </bean>
    <bean id="healthCheckResource"
          class="org.openstack.atlas.api.mgmt.resources.HealthCheckResource"
          parent="managementDependencyProvider"
          scope="request"/>
    <bean id="blackListResource"
          class="org.openstack.atlas.api.mgmt.resources.BlackListResource"
          parent="managementDependencyProvider"
          scope="request"/>
    <bean id="callbackResource"
          class="org.openstack.atlas.api.mgmt.resources.CallbackResource"
          parent="managementDependencyProvider"
          scope="request"/>
    <bean name="accountsResource"
          class="org.openstack.atlas.api.mgmt.resources.AccountsResource"
          parent="managementDependencyProvider"
          scope="request">
        <property name="accountResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.AccountResource"
                  parent="managementDependencyProvider"
                  scope="request">
                <property name="loadBalancersResource" ref="loadBalancersResource"/>
            </bean>
        </property>
    </bean>
    <bean name="groupsResource"
          class="org.openstack.atlas.api.mgmt.resources.GroupsResource"
          parent="managementDependencyProvider"
          scope="request">
        <property name="groupResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.GroupResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean name="accountLimitsResource"
          class="org.openstack.atlas.api.mgmt.resources.AccountLimitsResource"
          parent="managementDependencyProvider"
          scope="request">
        <property name="accountLimitResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.AccountLimitResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean name="saveStateHistoryResource"
          class="org.openstack.atlas.api.mgmt.resources.SaveStateHistoryResource"
          parent="managementDependencyProvider"
          scope="request">
    </bean>
    <bean id="mgmtErrorPageResource"
          class="org.openstack.atlas.api.mgmt.resources.ErrorpageResource"
          parent="managementDependencyProvider"
          scope="request"/>

    <bean name="mgmtVirtualIpsResource"
          class="org.openstack.atlas.api.mgmt.resources.VirtualIpsResource"
          parent="managementDependencyProvider"
          scope="request">
        <property name="virtualIpResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.VirtualIpResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
    </bean>

    <bean name="loadBalancersResource" class="org.openstack.atlas.api.mgmt.resources.LoadBalancersResource"
          parent="managementDependencyProvider"
          scope="request">
        <property name="loadBalancerResource" ref="loadBalancerResource"/>
        <property name="accountLimitsResource" ref="accountLimitsResource"/>
        <property name="saveStateHistoryResource" ref="saveStateHistoryResource"/>
    </bean>


    <bean name="loadBalancerResource" class="org.openstack.atlas.api.mgmt.resources.LoadBalancerResource"
          parent="managementDependencyProvider"
          scope="request">
        <property name="loadbalancerVipResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.LoadbalancerVipResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
        <property name="rateLimitResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.RateLimitResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
        <property name="loadBalancerSuspensionResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.LoadBalancerSuspensionResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
        <property name="syncResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.SyncResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
        <property name="ticketsResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.TicketsResource"
                  parent="managementDependencyProvider"
                  scope="request"/>
        </property>
        <property name="hostsResource">
            <bean class="org.openstack.atlas.api.mgmt.resources.HostsResource"
                  parent="managementDependencyProvider"
                  scope="request">
                <property name="hostResource">
                    <bean class="org.openstack.atlas.api.mgmt.resources.HostResource"
                          parent="managementDependencyProvider"
                          scope="request">
                        <property name="backupsResource">
                            <bean class="org.openstack.atlas.api.mgmt.resources.BackupsResource"
                                  parent="managementDependencyProvider"
                                  scope="request">
                                <property name="backupResource">
                                    <bean class="org.openstack.atlas.api.mgmt.resources.BackupResource"
                                          parent="managementDependencyProvider"
                                          scope="request"/>
                                </property>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
</beans>
