[auth]
token = <my_auth_token>
ssl_key = /path/to/server.key
ssl_cert = /path/to/server.crt

[client]
deb_path = /full/path/to/client/deb/directory/
deb_base_url = http://url.for/base/deb/repository/
remote_url = https://server:443/fetch
remote_deb_base_url = http://url.for/remote/deb/repository/
host = 0.0.0.0
port = 443
debug = True

[server]
deb_path = /full/path/to/server/deb/directory/
host = 0.0.0.0
port = 443
debug = True