import sys

sys.path.insert(0,'/path/to/debdist')

activate_this = '/path/to/debdist/.venv/bin/activate_this.py'
execfile(activate_this, dict(__file__=activate_this))

from DebDistServer import DebDistServer
from DebDistServer import app as application
server = DebDistServer("/path/to/debdist/myconfig.cfg")
application.serverObject = server
