## java specific
!.gitignore
.idea
*.iml
*.iws
*.ipr
.maven
.settings
.project
.classpath
*/target
classes/
target/
*/target/*
*/*/target
*/*/*/target/*
atlas-parent.ids

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.log
*.log.*
