[access "refs/*"]
	owner = group user/Matthew Rayermann (rolledback)
[access "refs/for/refs/*"]
	read = group user/Matthew Rayermann (rolledback)
	push = group user/Matthew Rayermann (rolledback)
	label-Code-Review = -2..+2 group user/Matthew Rayermann (rolledback)
	label-Verified = -1..+1 group user/Matthew Rayermann (rolledback)
	rebase = group user/Matthew Rayermann (rolledback)
	removeReviewer = group user/Matthew Rayermann (rolledback)
	submit = group user/Matthew Rayermann (rolledback)
[access "refs/heads/*"]
	read = group user/Matthew Rayermann (rolledback)
	create = group user/Matthew Rayermann (rolledback)
	push = +force group user/Matthew Rayermann (rolledback)
	pushMerge = group user/Matthew Rayermann (rolledback)
[access "refs/tags/*"]
	push = group user/Matthew Rayermann (rolledback)
	pushTag = group user/Matthew Rayermann (rolledback)
	pushSignedTag = group user/Matthew Rayermann (rolledback)
