[access "refs/*"]
	owner = group user/Adam Harwell (rm-you)
	owner = group user/Carlos D. Garza (crc32a)
	owner = group user/LBaaS-Rackers (lbrackspace)
	owner = group user/Matthew Rayermann (rolledback)
	owner = group user/Phil Toohill (the2hill)
	owner = group user/interminator
	pushMerge = group user/Matthew Rayermann (rolledback)
[access "refs/for/refs/*"]
	read = group user/Adam Harwell (rm-you)
	read = group user/Carlos D. Garza (crc32a)
	read = group user/LBaaS-Rackers (lbrackspace)
	read = group user/Matthew Rayermann (rolledback)
	read = group user/Phil Toohill (the2hill)
	read = group user/interminator
	push = group user/Adam Harwell (rm-you)
	push = group user/Carlos D. Garza (crc32a)
	push = group user/LBaaS-Rackers (lbrackspace)
	push = group user/Matthew Rayermann (rolledback)
	push = group user/Phil Toohill (the2hill)
	push = group user/interminator
	label-Code-Review = -2..+2 group user/Adam Harwell (rm-you)
	label-Code-Review = -2..+2 group user/Carlos D. Garza (crc32a)
	label-Code-Review = -2..+2 group user/LBaaS-Rackers (lbrackspace)
	label-Code-Review = -2..+2 group user/Matthew Rayermann (rolledback)
	label-Code-Review = -2..+2 group user/Phil Toohill (the2hill)
	label-Code-Review = -2..+2 group user/interminator
	label-Verified = -1..+1 group user/Adam Harwell (rm-you)
	label-Verified = -1..+1 group user/Carlos D. Garza (crc32a)
	label-Verified = -1..+1 group user/LBaaS-Rackers (lbrackspace)
	label-Verified = -1..+1 group user/Matthew Rayermann (rolledback)
	label-Verified = -1..+1 group user/Phil Toohill (the2hill)
	label-Verified = -1..+1 group user/interminator
	rebase = group user/Adam Harwell (rm-you)
	rebase = group user/Carlos D. Garza (crc32a)
	rebase = group user/LBaaS-Rackers (lbrackspace)
	rebase = group user/Matthew Rayermann (rolledback)
	rebase = group user/Phil Toohill (the2hill)
	rebase = group user/interminator
	removeReviewer = group user/Adam Harwell (rm-you)
	removeReviewer = group user/Carlos D. Garza (crc32a)
	removeReviewer = group user/LBaaS-Rackers (lbrackspace)
	removeReviewer = group user/Matthew Rayermann (rolledback)
	removeReviewer = group user/Phil Toohill (the2hill)
	removeReviewer = group user/interminator
	submit = group user/Adam Harwell (rm-you)
	submit = group user/Carlos D. Garza (crc32a)
	submit = group user/LBaaS-Rackers (lbrackspace)
	submit = group user/Matthew Rayermann (rolledback)
	submit = group user/Phil Toohill (the2hill)
	submit = group user/interminator
[access "refs/heads/*"]
	read = group user/Adam Harwell (rm-you)
	read = group user/Carlos D. Garza (crc32a)
	read = group user/LBaaS-Rackers (lbrackspace)
	read = group user/Matthew Rayermann (rolledback)
	read = group user/Phil Toohill (the2hill)
	read = group user/interminator
	create = group user/Adam Harwell (rm-you)
	create = group user/Carlos D. Garza (crc32a)
	create = group user/LBaaS-Rackers (lbrackspace)
	create = group user/Matthew Rayermann (rolledback)
	create = group user/Phil Toohill (the2hill)
	create = group user/interminator
	push = group user/Adam Harwell (rm-you)
	push = +force group user/Carlos D. Garza (crc32a)
	push = group user/LBaaS-Rackers (lbrackspace)
	push = +force group user/Matthew Rayermann (rolledback)
	push = group user/Phil Toohill (the2hill)
	push = group user/interminator
	pushMerge = group user/Adam Harwell (rm-you)
	pushMerge = group user/Carlos D. Garza (crc32a)
	pushMerge = group user/LBaaS-Rackers (lbrackspace)
	pushMerge = group user/Matthew Rayermann (rolledback)
	pushMerge = group user/Phil Toohill (the2hill)
	pushMerge = group user/interminator
[access "refs/tags/*"]
	push = group user/Adam Harwell (rm-you)
	push = group user/Carlos D. Garza (crc32a)
	push = group user/LBaaS-Rackers (lbrackspace)
	push = group user/Matthew Rayermann (rolledback)
	push = group user/Phil Toohill (the2hill)
	push = group user/interminator
	pushTag = group user/Adam Harwell (rm-you)
	pushTag = group user/Carlos D. Garza (crc32a)
	pushTag = group user/LBaaS-Rackers (lbrackspace)
	pushTag = group user/Matthew Rayermann (rolledback)
	pushTag = group user/Phil Toohill (the2hill)
	pushTag = group user/interminator
	pushSignedTag = group user/Adam Harwell (rm-you)
	pushSignedTag = group user/Carlos D. Garza (crc32a)
	pushSignedTag = group user/LBaaS-Rackers (lbrackspace)
	pushSignedTag = group user/Matthew Rayermann (rolledback)
	pushSignedTag = group user/Phil Toohill (the2hill)
	pushSignedTag = group user/interminator
