[access "refs/*"]
	owner = group user/LBaaS-Rackers (lbrackspace)
	owner = group user/Phil Toohill (the2hill)
	push = group clb
	push = group user/LBaaS-Rackers (lbrackspace)
	push = group user/Phil Toohill (the2hill)
	createSignedTag = group clb
	createSignedTag = group user/Phil Toohill (the2hill)
	createTag = group clb
	createTag = group user/LBaaS-Rackers (lbrackspace)
	createTag = group user/Phil Toohill (the2hill)
[access "refs/for/refs/*"]
	abandon = group clb
	abandon = group user/Phil Toohill (the2hill)
	read = group clb
	read = group user/LBaaS-Rackers (lbrackspace)
	read = group user/Phil Toohill (the2hill)
	push = group clb
	push = group user/LBaaS-Rackers (lbrackspace)
	push = +force group user/Phil Toohill (the2hill)
	push = group user/dereknoblej
	label-Code-Review = -2..+2 group clb
	label-Code-Review = -2..+2 group user/LBaaS-Rackers (lbrackspace)
	label-Code-Review = -2..+2 group user/Phil Toohill (the2hill)
	label-Verified = -1..+1 group clb
	label-Verified = -1..+1 group user/LBaaS-Rackers (lbrackspace)
	label-Verified = -1..+1 group user/Phil Toohill (the2hill)
	rebase = group clb
	rebase = group user/LBaaS-Rackers (lbrackspace)
	rebase = group user/Phil Toohill (the2hill)
	rebase = group user/dereknoblej
	removeReviewer = group clb
	removeReviewer = group user/LBaaS-Rackers (lbrackspace)
	removeReviewer = group user/Phil Toohill (the2hill)
	submit = group clb
	submit = group user/LBaaS-Rackers (lbrackspace)
	submit = group user/Phil Toohill (the2hill)
	submit = group user/dereknoblej
	createSignedTag = group clb
	createSignedTag = group user/LBaaS-Rackers (lbrackspace)
	createSignedTag = group user/Phil Toohill (the2hill)
	createTag = group clb
	createTag = group user/LBaaS-Rackers (lbrackspace)
	createTag = group user/Phil Toohill (the2hill)
[access "refs/heads/*"]
	read = group clb
	read = group user/LBaaS-Rackers (lbrackspace)
	read = group user/Phil Toohill (the2hill)
	create = group clb
	create = group user/LBaaS-Rackers (lbrackspace)
	create = group user/Phil Toohill (the2hill)
	push = group clb
	push = group user/LBaaS-Rackers (lbrackspace)
	push = +force group user/Phil Toohill (the2hill)
	push = group user/dereknoblej
	pushMerge = group clb
	pushMerge = group user/LBaaS-Rackers (lbrackspace)
	pushMerge = group user/Phil Toohill (the2hill)
	pushMerge = group user/dereknoblej
	label-Code-Review = -2..+2 group clb
	label-Code-Review = -2..+2 group user/LBaaS-Rackers (lbrackspace)
	label-Code-Review = -2..+2 group user/Phil Toohill (the2hill)
	label-Verified = -1..+1 group clb
	label-Verified = -1..+1 group user/LBaaS-Rackers (lbrackspace)
	label-Verified = -1..+1 group user/Phil Toohill (the2hill)
	createSignedTag = group clb
	createSignedTag = group user/LBaaS-Rackers (lbrackspace)
	createSignedTag = group user/Phil Toohill (the2hill)
	createTag = group clb
	createTag = group user/LBaaS-Rackers (lbrackspace)
	createTag = group user/Phil Toohill (the2hill)
[access "refs/tags/*"]
	push = group clb
	push = group user/LBaaS-Rackers (lbrackspace)
	push = +force group user/Phil Toohill (the2hill)
	forgeCommitter = group clb
	forgeCommitter = group user/LBaaS-Rackers (lbrackspace)
	forgeCommitter = group user/Phil Toohill (the2hill)
	createSignedTag = group clb
	createSignedTag = group user/LBaaS-Rackers (lbrackspace)
	createSignedTag = group user/Phil Toohill (the2hill)
	createTag = group clb
	createTag = group user/LBaaS-Rackers (lbrackspace)
	createTag = group user/Phil Toohill (the2hill)
[access "refs/for/*"]
	push = group clb
	push = +force group user/LBaaS-Rackers (lbrackspace)
	push = +force group user/Phil Toohill (the2hill)
	createSignedTag = group clb
	createSignedTag = group user/LBaaS-Rackers (lbrackspace)
	createSignedTag = group user/Phil Toohill (the2hill)
	createTag = group clb
	createTag = group user/LBaaS-Rackers (lbrackspace)
	createTag = group user/Phil Toohill (the2hill)
[access "refs/for/refs/heads/*"]
	push = group clb
	push = group user/LBaaS-Rackers (lbrackspace)
	push = +force group user/Phil Toohill (the2hill)
	createSignedTag = group clb
	createSignedTag = group user/LBaaS-Rackers (lbrackspace)
	createSignedTag = group user/Phil Toohill (the2hill)
	createTag = group clb
	createTag = group user/LBaaS-Rackers (lbrackspace)
	createTag = group user/Phil Toohill (the2hill)
	submit = group user/LBaaS-Rackers (lbrackspace)
	submit = group user/Phil Toohill (the2hill)
	submit = group user/dereknoblej
