Package: [[artifactId]]
Version: [[version]]
Section: libs
Priority: optional
Architecture: all
Depends: rs-glassfish, libmysql-java, rs-lbaas-activemq
Maintainer: Carlos D. Garza <carlos.garza@rackspace.com>
Description: DouncyCastle for rs-lbaas
   Bouncy castle jar for rs-lbaas.
Distribution: development
