<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd ">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <import resource="db-services.xml" />
    <import resource="db-usage-services.xml" />
    <import resource="jms-queues-public.xml" />

    <context:annotation-config />

    <!--STANDALONE SPRING SETTINGS-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="file:/etc/openstack/atlas/public-api.conf"/>
    </bean>

    <bean id="objectMapper" class="org.openstack.atlas.api.helpers.JsonObjectMapper"
          init-method="init"/>
    <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
        <property name="mapper" ref="objectMapper"/>
    </bean>
    <bean id="commonDependencyProvider"
          class="org.openstack.atlas.api.resources.providers.CommonDependencyProvider"
          scope="request">
        <property name="asyncService" ref="loadBalancingAsyncService"/>
        <property name="lbRepository" ref="loadBalancerRepository"/>
        <property name="dozerMapper" ref="dozerBeanMapper"/>
        <property name="atomFeedAdapter" ref="atomFeedAdapter"/>
        <property name="loadBalancerService" ref="loadBalancerService" />
        <property name="healthMonitorService" ref="healthMonitorService" />
        <property name="connectionLoggingService" ref="connectionLoggingService"/>
        <property name="connectionThrottleService" ref="connectionThrottleService"/>
        <property name="sessionPersistenceService" ref="sessionPersistenceService"/>
        <property name="algorithmsService" ref="algorithmService"/>
        <property name="protocolsService" ref="protocolsService"/>
        <property name="virtualIpService" ref="virtualIpService" />
        <property name="nodeService" ref="nodeService" />
        <property name="accessListService" ref="accessListService" />
        <property name="usageService" ref="usageService" />
        <property name="accountLimitService" ref="accountLimitService" />
    </bean>

    <!--DOZER SETTINGS-->
    <bean id="dozerBeanMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>loadbalancing-dozer-mapping.xml</value>
            </list>
        </property>
        <property name="eventListeners">
            <list>
                <ref bean="dozerEventListener"/>
            </list>
        </property>
    </bean>
    <bean id="dozerEventListener"
          class="org.openstack.atlas.api.mapper.dozer.converter.EventListener"/>

    <!--RESOURCE BEANS-->
    <bean id="loadBalancingPublicImpl"
          class="org.openstack.atlas.api.resources.RootResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="throwResource">
            <bean class="org.openstack.atlas.api.resources.ThrowResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
        <property name="loadBalancersResource">
            <bean class="org.openstack.atlas.api.resources.LoadBalancersResource"
                  parent="commonDependencyProvider"
                  scope="request">
                <property name="stubResource" ref="stubResource"/>
                <property name="bounceResource" ref="bounceResource"/>
                <property name="protocolsResource">
                    <bean class="org.openstack.atlas.api.resources.ProtocolsResource"
                          parent="commonDependencyProvider"
                          scope="request"/>
                </property>
                <property name="loadBalancerResource">
                    <bean class="org.openstack.atlas.api.resources.LoadBalancerResource"
                          parent="commonDependencyProvider"
                          scope="request">
                        <property name="sessionPersistenceResource" ref="sessionPersistenceResource"/>
                        <property name="nodesResource" ref="nodesResource"/>
                        <property name="accessListResource" ref="accessListResource"/>
                        <property name="connectionLoggingResource" ref="connectionLoggingResource"/>
                        <property name="virtualIpsResource" ref="virtualIpsResource"/>
                        <property name="connectionThrottleResource" ref="connectionThrottleResource"/>
                        <property name="healthMonitorResource" ref="healthMonitorResource"/>
                        <property name="usageResource" ref="usageResource"/>
                    </bean>
                </property>
                <property name="algorithmsResource">
                    <bean class="org.openstack.atlas.api.resources.AlgorithmsResource"
                          parent="commonDependencyProvider"
                          scope="request"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="stubResource"
          class="org.openstack.atlas.api.resources.StubResource"
          scope="request"/>
    <bean id="bounceResource"
          class="org.openstack.atlas.api.resources.BounceResource"
          scope="request"/>
    <bean id="loadBalancingAsyncService"
          class="org.openstack.atlas.api.integration.AsyncServiceImpl"
          scope="request">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>

    <bean name="nodesResource"
          class="org.openstack.atlas.api.resources.NodesResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="nodeResource">
            <bean class="org.openstack.atlas.api.resources.NodeResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean name="virtualIpsResource"
          class="org.openstack.atlas.api.resources.VirtualIpsResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="virtualIpResource">
            <bean class="org.openstack.atlas.api.resources.VirtualIpResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean name="accessListResource"
          class="org.openstack.atlas.api.resources.AccessListResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="networkItemResource">
            <bean class="org.openstack.atlas.api.resources.NetworkItemResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean name="connectionLoggingResource"
          class="org.openstack.atlas.api.resources.ConnectionLoggingResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean name="healthMonitorResource"
          class="org.openstack.atlas.api.resources.HealthMonitorResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean id="connectionThrottleResource"
          class="org.openstack.atlas.api.resources.ConnectionThrottleResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean id="usageResource"
          class="org.openstack.atlas.api.resources.UsageResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean name="sessionPersistenceResource"
          class="org.openstack.atlas.api.resources.SessionPersistenceResource"
          parent="commonDependencyProvider"
          scope="request"/>

    <!--FILTER SETTINGS-->
    <bean id="authServiceImpl" class="org.openstack.atlas.api.auth.AuthServiceImpl"
          scope="singleton">
          <constructor-arg index="0" ref="xmlRpcClientFactory" />
          <constructor-arg index="1" ref="configuration"/>
    </bean>

    <bean id="accountServiceImpl" class="org.openstack.atlas.api.auth.AccountServiceImpl" scope="singleton">
          <constructor-arg index="0" ref="xmlRpcClientFactory"/>
          <constructor-arg index="1" ref="configuration"/>
    </bean>

    <bean id="requestSanitationFilter"
          class="org.openstack.atlas.api.filters.RequestSanitationFilter"
          scope="request"/>
    <bean id="authenticationFilter"
          class="org.openstack.atlas.api.filters.AuthenticationFilter"
          scope="request">
        <constructor-arg index="0">
            <bean class="org.openstack.atlas.api.auth.AuthTokenValidator">
                <constructor-arg index="0" ref="authServiceImpl" />
                <constructor-arg index="1" ref="accountServiceImpl" />
            </bean>
        </constructor-arg>
        <constructor-arg index="1">
            <bean class="org.openstack.atlas.api.helpers.UrlAccountIdExtractor" scope="request"/>
        </constructor-arg>
        <property name="authenticatedUsers" ref="authCache"/>
    </bean>
    <!--<bean id="groupRateLimitFilter"
          class="org.openstack.atlas.api.filters.GroupRateLimitFilter"
          scope="request">
        <constructor-arg>
            <bean class="org.openstack.atlas.api.helpers.UrlAccountIdExtractor"/>
        </constructor-arg>
        <property name="groupRepository" ref="groupRepository"/>
    </bean>
    <bean id="rateLimitingFilter"
          class="org.openstack.cloud.jee.filters.limits.rate.RateLimitingFilter"
          scope="request"/>-->
    <bean id="validationFilter"
          class="org.openstack.atlas.api.filters.ValidationFilter"
          scope="request">
        <property name="fPkg" value="org.openstack.atlas.docs.loadbalancers.api.v1.faults"/>
        <property name="pPkg" value="org.openstack.atlas.docs.loadbalancers.api.v1"/>
        <property name="pXSD" value="META-INF/xsd/LoadBalancerApi.xsd"/>
        <property name="fXSD" value="META-INF/xsd/LoadBalancerApiFaults.xsd"/>
    </bean>
    <bean id="jsonValidationFilter"
          class="org.openstack.atlas.api.filters.JsonValidationFilter"
          init-method="startConfig"
          scope="request"
          parent="validationFilter"/>
    <bean id="xmlValidationFilter"
          class="org.openstack.atlas.api.filters.XmlValidationFilter"
          init-method="startConfig"
          scope="request"
          parent="validationFilter"/>

    <bean id="xmlRpcClientFactory"
          class="org.openstack.atlas.api.auth.XmlRpcClientFactory">
        <constructor-arg>
            <bean class="org.openstack.atlas.api.auth.XmlRpcClientConfigFactory">
                <constructor-arg>
                    <bean class="org.apache.xmlrpc.client.XmlRpcClientConfigImpl"/>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <!--ATOM BEANS-->
    <bean id="atomProvider" class="org.openstack.atlas.api.atom.AbderaSupport"/>
    <bean id="atomFeedAdapter"
          class="org.openstack.atlas.api.atom.AtomFeedAdapter"
          scope="request">
        <property name="entryBuilder" ref="atomEntryBuilder"/>
        <property name="configuration" ref="configuration"/>
    </bean>
    <bean id="atomEntryBuilder" class="org.openstack.atlas.api.atom.EntryBuilder" scope="request">
        <property name="eventRepository" ref="loadBalancerEventRepository"/>
    </bean>

    <bean id="requestStateContainer"
          class="org.openstack.atlas.api.resources.providers.RequestStateContainer"
          scope="request"/>

    <!--CACHING-->
    <bean id="cacheManagerFactory" class="org.openstack.atlas.api.caching.CacheManagerFactory"/>
    <bean id="authCache"
          class="org.openstack.atlas.api.caching.CacheRepositoryImpl">
        <constructor-arg index="0" value="authenticatedUsers"/>
        <constructor-arg index="1" ref="cacheManagerFactory"/>
    </bean>

</beans>
