<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd ">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <import resource="db-services.xml"/>
    <import resource="db-usage-services.xml"/>
    <import resource="jms-queues-public.xml"/>
    <import resource="db-usage-refactor-services.xml"/>

    <context:annotation-config/>

    <!--STANDALONE SPRING SETTINGS-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="file:/etc/openstack/atlas/public-api.conf"/>
    </bean>

    <!-- START NAMESPACE PREFIX CONFIGURATION-->
    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
        <property name="namespacePrefixes" ref="namespacePrefixMap"/>
    </bean>
    <util:map id="namespacePrefixMap">
        <entry key="http://docs.openstack.org/loadbalancers/api/v1.0" value=""/>
        <entry key="http://docs.openstack.org/loadbalancers/api/management/v1.0" value="mgmt"/>
        <entry key="http://www.w3.org/2005/Atom" value="atom"/>
    </util:map>
    <!-- END NAMESPACE PREFIX CONFIGURATION-->

    <!--FILTERS-->
    <!--REPOSE HANDLES AUTH AND RATELIMITS..-->
    <!--<bean id="authTokenValidator" class="org.openstack.atlas.api.auth.AuthTokenValidator"-->
    <!--scope="singleton">-->
    <!--<constructor-arg index="0" ref="configuration"/>-->
    <!--</bean>-->
    <!--<bean id="rateLimitingFilter"-->
    <!--class="com.rackspace.cloud.jee.filters.limits.rate.RateLimitingFilter"-->
    <!--scope="request"/>-->

    <bean id="requestSanitationFilter"
          class="org.openstack.atlas.api.filters.RequestSanitationFilter"
          scope="request"/>
    <bean id="authenticationFilter"
          class="org.openstack.atlas.api.filters.AuthenticationFilter"
          scope="request" init-method="startConfig">
        <constructor-arg index="0">
            <bean class="org.openstack.atlas.api.auth.AuthTokenValidator">
                <constructor-arg index="0" ref="configuration"/>
            </bean>
        </constructor-arg>
        <constructor-arg index="1">
            <bean class="org.openstack.atlas.api.helpers.UrlAccountIdExtractor" scope="request"/>
        </constructor-arg>
        <property name="configuration" ref="configuration" />

        <property name="userCache" ref="userCache"/>
    </bean>
    <bean id="groupsSanitationFilter"
          class="org.openstack.atlas.api.filters.GroupsSanitationFilter"
          scope="request">
    </bean>
    <!--<bean id="rolesFilter"-->
          <!--class="org.openstack.atlas.api.filters.RolesFilter"-->
          <!--scope="request">-->
    <!--</bean>-->
    <bean id="validationFilter"
          class="org.openstack.atlas.api.filters.ValidationFilter"
          scope="request">
        <property name="fPkg" value="org.openstack.atlas.docs.loadbalancers.api.v1.faults"/>
        <property name="pPkg" value="org.openstack.atlas.docs.loadbalancers.api.v1"/>
        <property name="pXSD" value="META-INF/xsd/LoadBalancerApi.xsd"/>
        <property name="fXSD" value="META-INF/xsd/LoadBalancerApiFaults.xsd"/>
    </bean>
    <bean id="jsonValidationFilter"
          class="org.openstack.atlas.api.filters.JsonValidationFilter"
          init-method="startConfig"
          scope="request"
          parent="validationFilter"/>
    <bean id="xmlValidationFilter"
          class="org.openstack.atlas.api.filters.XmlValidationFilter"
          init-method="startConfig"
          scope="request"
          parent="validationFilter"/>

    <bean id="objectMapper" class="org.openstack.atlas.api.helpers.JsonObjectMapper"
          init-method="init"/>
    <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
        <property name="mapper" ref="objectMapper"/>
    </bean>

    <bean id="commonDependencyProvider"
          class="org.openstack.atlas.api.resources.providers.CommonDependencyProvider"
          scope="request">
        <property name="asyncService" ref="loadBalancingAsyncService"/>
        <property name="lbRepository" ref="loadBalancerRepository"/>
        <property name="loadBalancerEventRepository" ref="loadBalancerEventRepository"/>
        <property name="dozerMapper" ref="dozerBeanMapper"/>
        <property name="atomFeedAdapter" ref="atomFeedAdapter"/>
        <property name="loadBalancerService" ref="loadBalancerService"/>
        <property name="healthMonitorService" ref="healthMonitorService"/>
        <property name="connectionLoggingService" ref="connectionLoggingService"/>
        <property name="contentCachingService" ref="contentCachingService"/>
        <property name="connectionThrottleService" ref="connectionThrottleService"/>
        <property name="sessionPersistenceService" ref="sessionPersistenceService"/>
        <property name="algorithmsService" ref="algorithmService"/>
        <property name="protocolsService" ref="protocolsService"/>
        <property name="virtualIpService" ref="virtualIpService"/>
        <property name="loadbalancerMetadataService" ref="loadbalancerMetadataService"/>
        <property name="nodeMetadataService" ref="nodeMetadataService"/>
        <property name="nodeService" ref="nodeService"/>
        <property name="accessListService" ref="accessListService"/>
        <property name="allowedDomainsService" ref="allowedDomainsService"/>
        <property name="usageService" ref="usageService"/>
        <property name="accountLimitService" ref="accountLimitService"/>
        <property name="requestStateContainer" ref="requestStateContainer"/>
        <property name="reverseProxyLoadBalancerService" ref="reverseProxyLoadBalancerService"/>
        <property name="restApiConfiguration" ref="configuration"/>
        <property name="sslTerminationService" ref="sslTerminationService"/>
        <property name="loadBalancerStatusHistoryService" ref="loadBalancerStatusHistoryService"/>
    </bean>

    <!--DOZER SETTINGS-->
    <bean id="dozerBeanMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>loadbalancing-dozer-mapping.xml</value>
            </list>
        </property>
        <property name="eventListeners">
            <list>
                <ref bean="dozerEventListener"/>
            </list>
        </property>
    </bean>
    <bean id="dozerEventListener"
          class="org.openstack.atlas.api.mapper.dozer.converter.EventListener"/>

    <!--RESOURCE BEANS-->
    <bean id="loadBalancingPublicImpl"
          class="org.openstack.atlas.api.resources.RootResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="origContainer" ref="requestStateContainer"/>
        <property name="throwResource">
            <bean class="org.openstack.atlas.api.resources.ThrowResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
        <property name="loadBalancersResource">
            <bean class="org.openstack.atlas.api.resources.LoadBalancersResource"
                  parent="commonDependencyProvider"
                  scope="request">
                <property name="stubResource" ref="stubResource"/>
                <property name="bounceResource" ref="bounceResource"/>
                <property name="protocolsResource">
                    <bean class="org.openstack.atlas.api.resources.ProtocolsResource"
                          parent="commonDependencyProvider"
                          scope="request"/>
                </property>
                <property name="loadBalancerResource">
                    <bean class="org.openstack.atlas.api.resources.LoadBalancerResource"
                          parent="commonDependencyProvider"
                          scope="request">
                        <property name="sessionPersistenceResource" ref="sessionPersistenceResource"/>
                        <property name="nodesResource" ref="nodesResource"/>
                        <property name="accessListResource" ref="accessListResource"/>
                        <property name="connectionLoggingResource" ref="connectionLoggingResource"/>
                        <property name="virtualIpsResource" ref="virtualIpsResource"/>
                        <property name="connectionThrottleResource" ref="connectionThrottleResource"/>
                        <property name="contentCachingResource" ref="contentCachingResource"/>
                        <property name="healthMonitorResource" ref="healthMonitorResource"/>
                        <property name="loadbalancerMetadataResource" ref="loadbalancerMetadataResource"/>
                        <property name="usageResource" ref="usageResource"/>
                        <property name="errorpageResource" ref="errorpageResource"/>
                        <property name="sslTerminationResource" ref="sslTerminationResource"/>
                    </bean>
                </property>
                <property name="algorithmsResource">
                    <bean class="org.openstack.atlas.api.resources.AlgorithmsResource"
                          parent="commonDependencyProvider"
                          scope="request"/>
                </property>
                <property name="allowedDomainsResource">
                    <bean class="org.openstack.atlas.api.resources.AllowedDomainsResource"
                          parent="commonDependencyProvider"
                          scope="request"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="errorpageResource"
          class="org.openstack.atlas.api.resources.ErrorpageResource"
          parent="commonDependencyProvider"
          scope="request">
    </bean>
    <bean id="sslTerminationResource"
          class="org.openstack.atlas.api.resources.SslTerminationResource"
          parent="commonDependencyProvider"
          scope="request">
    </bean>

    <bean id="stubResource"
          class="org.openstack.atlas.api.resources.StubResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean id="bounceResource"
          class="org.openstack.atlas.api.resources.BounceResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean id="loadBalancingAsyncService"
          class="org.openstack.atlas.api.integration.AsyncServiceImpl"
          scope="request">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>

    <bean name="nodesResource"
          class="org.openstack.atlas.api.resources.NodesResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="nodeResource">
            <bean class="org.openstack.atlas.api.resources.NodeResource"
                  parent="commonDependencyProvider"
                  scope="request">
                <property name="nodeMetadataResource">
                    <bean class="org.openstack.atlas.api.resources.NodeMetadataResource"
                          parent="commonDependencyProvider"
                          scope="request">
                        <property name="nodeMetaResource">
                            <bean class="org.openstack.atlas.api.resources.NodeMetaResource"
                                  parent="commonDependencyProvider"
                                  scope="request"/>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
    <bean name="virtualIpsResource"
          class="org.openstack.atlas.api.resources.VirtualIpsResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="virtualIpResource">
            <bean class="org.openstack.atlas.api.resources.VirtualIpResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean name="accessListResource"
          class="org.openstack.atlas.api.resources.AccessListResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="networkItemResource">
            <bean class="org.openstack.atlas.api.resources.NetworkItemResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean name="connectionLoggingResource"
          class="org.openstack.atlas.api.resources.ConnectionLoggingResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean name="contentCachingResource"
          class="org.openstack.atlas.api.resources.ContentCachingResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean name="healthMonitorResource"
          class="org.openstack.atlas.api.resources.HealthMonitorResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean name="loadbalancerMetadataResource"
          class="org.openstack.atlas.api.resources.LoadbalancerMetadataResource"
          parent="commonDependencyProvider"
          scope="request">
        <property name="loadbalancerMetaResource">
            <bean class="org.openstack.atlas.api.resources.LoadbalancerMetaResource"
                  parent="commonDependencyProvider"
                  scope="request"/>
        </property>
    </bean>
    <bean id="connectionThrottleResource"
          class="org.openstack.atlas.api.resources.ConnectionThrottleResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean id="usageResource"
          class="org.openstack.atlas.api.resources.UsageResource"
          parent="commonDependencyProvider"
          scope="request"/>
    <bean name="sessionPersistenceResource"
          class="org.openstack.atlas.api.resources.SessionPersistenceResource"
          parent="commonDependencyProvider"
          scope="request"/>


    <!--ATOM BEANS-->
    <bean id="paginationHelper" class="org.openstack.atlas.api.helpers.PaginationHelper">
        <property name="restApiConfiguration" ref="configuration"/>
    </bean>
    <bean id="atomProvider" class="org.openstack.atlas.api.atom.AbderaSupport"/>
    <bean id="atomFeedAdapter"
          class="org.openstack.atlas.api.atom.AtomFeedAdapter"
          scope="request">
        <property name="entryBuilder" ref="atomEntryBuilder"/>
        <property name="configuration" ref="configuration"/>
    </bean>
    <bean id="atomEntryBuilder" class="org.openstack.atlas.api.atom.EntryBuilder" scope="request">
        <property name="eventRepository" ref="loadBalancerEventRepository"/>
    </bean>

    <bean id="requestStateContainer"
          class="org.openstack.atlas.api.resources.providers.RequestStateContainer"
          scope="request"/>

    <!--CACHING-->
    <bean id="ldapCache" class="org.openstack.atlas.util.simplecache.SimpleCache" scope="singleton">
        <property name="cleanExpiredOn" value="4096"/>
    </bean>

    <bean id="userCache" class="org.openstack.atlas.util.simplecache.SimpleCache" scope="singleton">
        <property name="ttl" value="300"/>
        <property name="cleanExpiredOn" value="4096"/>
    </bean>

</beans>