<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <!--<import resource="db-services.xml" />-->
    <!--<import resource="db-usage-services.xml" />-->
    <import resource="jms-queues.xml" />
    <context:component-scan base-package="org.openstack.atlas.api"/>
    <context:component-scan base-package="org.openstack.atlas.common"/>
    <context:component-scan base-package="org.openstack.atlas.datamodel"/>
    <context:component-scan base-package="org.openstack.atlas.service.domain"/>

    <context:annotation-config/>
    <aop:aspectj-autoproxy />

    <!--STANDALONE SPRING SETTINGS-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="file:/etc/openstack/atlas/public-api.conf"/>
    </bean>

    <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>

    <!--RESOURCE BEANS-->
    <!--<bean id="loadBalancingPublicImpl" class="org.openstack.atlas.api.resource.RootResource" scope="request"/>-->

    <bean id="entityManagerFactory1" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:META-INF/lb-persistence.xml"/>
        <property name="persistenceUnitName" value="loadbalancing"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory1"/>
    </bean>

    <tx:annotation-driven/>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

</beans>
