<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="classpath:META-INF/spring/quartzjobs.xml"/>

    <!--STANDALONE SPRING SETTINGS-->
    <bean id="configuration"
          class="org.openstack.atlas.restclients.atomhopper.config.AtomHopperConfiguration"
          scope="prototype"/>
     <!--Scans the classpath for annotated components @Component, @Repository, @Service, and @Controller -->
    <!--<context:component-scan base-package="org.openstack.atlas.usage"/>-->
    <!--<context:component-scan base-package="org.openstack.atlas.service.domain.repository"/>-->
    <!--&lt;!&ndash;Activates @Required, @Autowired, @PostConstruct, @PreDestroy and @Resource &ndash;&gt;-->
    <!--<context:annotation-config/>-->
</beans>