Package: [[artifactId]]
Version: [[version]]
Source: [[artifactId]]
Section: libs
Priority: optional
Maintainer: Carlos D. Garza <carlos.garza@rackspace.com>
Build-Depends: cdbs, debhelper (>> 5.0.0)
Standards-Version: 3.8.4
Architecture: all
Depends: rs-glassfish, libmysql-java, rs-lbaas-activemq
Description: The rackspace LBAAS jobs package
 The rackspace lbaas REST API that runs under glassfish